body {
    margin: 0;
    padding: 0;
    background: rgb(148, 191, 191);
    font-family: sans-serif;
    /* margin-top: 1%; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: block;
    text-align: center;
    margin-top: 3%;
    color: black;
    font-weight: bold;
}
.forms {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 10px 15px;
}

input {
    display: inline;
    margin: 5px;
}

.block {
    align-items: center;
    text-align: center;
}

.form-google {
    margin: 1%;
    background: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.form-google img {
    width: 30px;
    height: 25px;
}

.form-google:hover {
    color: aliceblue;
}
